.Combatant {
  width: 96px;
  height: 34px;
  background: url("../images/ui/combatant-plate-player.png") no-repeat no-repeat;
  position:absolute;
}
.CombatantEnemy{
  width: 96px;
  height: 34px;
  background: url("../images/ui/combatant-plate-enemy.png") no-repeat no-repeat;
  position:absolute;
}

.Battle .Combatant, .Battle .CombatantEnemy {
  transform: scale(1.5);
}
.Battle .Combatant[data-active="false"],.Battle .CombatantEnemy[data-active="false"] {
  opacity: 0;
}
.Battle .Combatant[data-active="true"],.Battle .CombatantEnemy[data-active="true"]{
  opacity: 1;
}

.Combatant[data-team="player"] {
  left: 235px;
  top: 105px;
}
.CombatantEnemy[data-team="enemy"] {
  top: 20px;
  right: 230px;
}

.Combatant .Combatant_character {
  display:block;
  position: absolute;
  left: -90px;
  bottom: 0px;
}

.CombatantEnemy .Combatant_character {
  display:block;
  position: absolute;
  left: 120px;
  bottom:-13px;
}
.Combatant .Combatant_name {
  position: absolute;
  left: 14px;
  top: -3px;
  white-space: nowrap;
  color: black;
  font-size: 5px;
  margin: 0;
}
.CombatantEnemy .Combatant_name {
  position: absolute;
  left: 10px;
  top: 4px;
  white-space: nowrap;
  color: black;
  font-size: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}
.Combatant_life-container {
  position: absolute;
  left:30px;
  top:10px;
  width: 26px;
  height: 3px;
}
.Combatant_life-container > rect {
  transition: width 0.2s;
}

.Combatant_xp-container {
  position: absolute;
  left:20px;
  top:8px;
  width: 26px;
  height: 2px;
}
.Combatant .Combatant_status {
  position: absolute;
  font-size: 4px;
  left: 47px;
  bottom: -3px;
  padding-left: 2px;
  padding-right: 2px;
  background: rgba(0,0,0,0.8);
  color: white;
  margin: 0;
}
.CombatantEnemy .Combatant_status {
  position: absolute;
  font-size: 4px;
  left: 47px;
  bottom: -3px;
  padding-left: 2px;
  padding-right: 2px;
  background: rgba(0,0,0,0.8);
  color: white;
  margin: 0;
}
.Combatant_status[data-status="saucy"] {
  color: red;
}
.Combatant_status[data-status="clumsy"] {
  background: #582a79;
}

.Pizza {
  position: absolute;
  transform: scale(2);
  background: url(../images/characters/shadow.png) no-repeat no-repeat;
}
.Pizza[data-team="player"] {
  bottom: 73px;
  left: 51px;
}
.Pizza[data-team="enemy"] {
  top: 47px;
  right: 100px;
}
.Pizza[data-active="false"] {
  opacity:0;
}
.Pizza[data-active="true"] {
  opacity:1;
}