@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

@font-face {
    font-family: "Galmuri9";
}


* {
  box-sizing:border-box;
  font-family: 'Galmuri9';
}


body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}