@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  padding: 4px;
  background-image: url("../images/ui/textMessage.png");
  background-repeat : no-repeat;
}
.TextMessage_p {
  margin: 5px;
  font-size: 12px;
  text-align: left;

}
.TextMessage_button {
  margin: 0;
  font-size: 8px;
  padding: 0;
  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;

  animation: blink-effect 1s step-end infinite;
  background-image: url("../images/ui/cursor.png");
  background-repeat : no-repeat;
  width: 14px;
  height: 12px;
  position: absolute;
  right: 10px;
  bottom: 0;
}
