.GameContainer {
    position: relative;
    width: 352px;
    height: 192px;
    outline: 1px solid #fff;
    margin: 0 auto;
    transform: scale(3) translateY(50%);
}

.GameContainer canvas {

    image-rendering: pixelated;
}